h1 {
    color: silver;
    font-size: 150px;
}

h2 {
    font-size: 30px
}

h3 {
    font-size: 30px
}

li {
    font-size: 20px
}

p {
    font-size: 20px
}

.score {
    color: gray;
}

.gold {
    color: gold;
}

#game {
    margin-left: 150px;
}

#scoresbtn {
    font-size: 40px;
    border: 2px solid;
}

#creditsbtn {
    font-size: 40px;
    border: 2px solid;
    margin-bottom: 50px;
    margin-right: 100px;
}

#conceptbtn {
    font-size: 40px;
    border: 2px solid;
}

#instructionsbtn {
    font-size: 40px;
    border: 2px solid;
    margin-bottom: 50px;
    margin-right: 100px;
}

.container {
   width: 100%;
}
